<%- include('./layout/header') %> <!-- Include the header -->

<div class="container mt-3" style="height: 700px;">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

<%- include('./layout/footer') %> <!-- Include the footer -->