<%- include('../layout/header.ejs') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Thay đổi thông tin cá nhân</h5>
                </div>
                <div class="card-body">
                    <form action="/update-profile" method="POST">
                        <div class="mb-3 d-flex justify-content-center align-items-center">
                            <input type="file" class="form-control" id="avatar" name="avatar" style="display: none;">
                            <img id="avatar-preview" src="https://i.pinimg.com/564x/ff/02/b8/ff02b8044331c790f1ad0880d0e00654.jpg"
                                class="img-thumbnail rounded-circle" alt="Ảnh đại diện" style="cursor: pointer; width: 100px;">
                        </div>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Họ và tên:</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Số điện thoại:</label>
                            <input type="tel" class="form-control" id="phone" name="phone"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                            <small>Định dạng: 123-456-7890</small>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Địa chỉ:</label>
                            <input type="address" class="form-control" id="address" name="address" required>
                        </div>
                        <div class="d-flex justify-content-between border-0">
                            <div class="text-right">
                                <button type="submit" class="btn btn-success">Lưu thay đổi</button>
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Xóa tài khoản</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../layout/footer.ejs') %>