<%- include('../layout/header.ejs')  %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Đổi mật khẩu</h5>
                </div>
                <div class="card-body">
                    <form action="/change-password" method="POST">
                        <div class="mb-3">
                            <label for="current-password" class="form-label">Mật khẩu hiện tại:</label>
                            <input type="password" class="form-control" id="current-password" name="current-password"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password" class="form-label">Mật khẩu mới:</label>
                            <input type="password" class="form-control" id="new-password" name="new-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Xác nhận mật khẩu mới:</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                                required>
                        </div>
                        <button type="submit" class="btn btn-success">Đổi mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../layout/footer.ejs') %>