<%- include('../layout/header.ejs') %>

<div class="container mt-3" style="height: 400px;">
    <div class="row">
        <div class="col-md-8">
            <!-- Phần Quản lý công việc -->
            <h2 class="mb-3 text-light animate__animated animate__fadeInLeft">Quản lý công việc</h2>
            <!-- Bảng hiển thị các công việc -->
            <p class="text-light animate__animated animate__fadeInLeft">Trạng thái công việc</p>
            <div class="card bg-dark animate__animated animate__fadeInLeft">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="me-3">
                            <span class="badge bg-primary">Chờ nhận:</span>
                            <span class="badge bg-primary">8</span>
                        </div>
                        <div class="me-3">
                            <span class="badge bg-warning">Đang làm:</span>
                            <span class="badge bg-warning">8</span>
                        </div>
                        <div class="me-3">
                            <span class="badge bg-secondary">Chờ duyệt:</span>
                            <span class="badge bg-secondary">8</span>
                        </div>
                        <div class="me-3">
                            <span class="badge bg-success">Hoàn thành:</span>
                            <span class="badge bg-success">8</span>
                        </div>
                        <div class="me-3">
                            <span class="badge bg-danger">Tạm dừng:</span>
                            <span class="badge bg-danger">8</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Phần Quan trọng -->
            <h2 class="text-light animate__animated animate__fadeInUp">Quan trọng và chưa hoàn hành</h2>
        </div>
    </div>
</div>

    


<%- include('../layout/footer.ejs') %>