<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title  %></title>
    <!-- Add your CSS or other head elements here -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
    <style>
    </style>
</head>


<body style="background-color: black;">
    <!-- Your index page content goes here -->
    <div class="container">
    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoYPoWIr7GYtw7NgUpwMZK89b8qx-HKwxid3F7PiES8w&s" alt="Logo" width="55px"> -->
            <h2 class="text-warning title-ct">Quản lý công việc</h2>
        </a>
        <div class="mx-auto">
            <form class="d-flex">
                <input class="form-control me-2 bg-light border-0" type="search" placeholder="Tìm công việc" aria-label="Search" style="width: 400px;">
                <button class="btn btn-dark" type="submit" style="color: #fff;">Search</button>
            </form>
        </div>
        <div class="dropdown text-light">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle me-2" src="https://i.pinimg.com/564x/cd/62/53/cd625349eaffc71520b7075e42b7e81c.jpg" style="max-height: 30px;">
                Shelby
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item text-custom" href="/edit-profile"><i class="fas fa-address-card me-2"></i>Thông tin cá nhân</a></li>
                <li><a class="dropdown-item" href="/change-password"><i class="fas fa-lock me-2"></i>Thay đổi mật khẩu</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-right-from-bracket me-2"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>

    
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active me-5"">
                        <a class="nav-link text-light" href="/"><i class="me-1 fa-solid fa-house"></i>Mới nhất</a>
                    </li>
                    <li class="nav-item dropdown me-5">
                        <a class="nav-link-custom nav-link dropdown-toggle text-light" href="#" id="navbarDropdownJobs" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="me-1 fa-solid fa-suitcase"></i>
                            Các công việc
                        </a>
                        <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdownJobs">
                            <a class="dropdown-item text-light" href="/table-route"><i class="fa-solid fa-table-list me-2"></i>Bảng trạng thái</a>
                            <a class="dropdown-item text-light" href="/table-category"><i class="fa-solid fa-tag me-2"></i>Bảng phân loại</a>
                            <a class="dropdown-item text-light" href="/important-page"><i class="fa-solid fa-star me-2"></i>Quan trọng</a>
                            <div class="dropdown-divider bg-white"></div>
                            <a class="dropdown-item text-light" href="/create-job"><i class="fa-solid fa-circle-plus me-2"></i>Thêm công việc</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown me-5">
                        <a class="nav-link-custom nav-link dropdown-toggle text-light" href="#" id="navbarDropdownStaff" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="me-1 fa-solid fa-user-group"></i>
                            Nhân lực
                        </a>
                        <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdownStaff">
                            <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-users me-2"></i>Các nhân sự</a>
                            <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-people-group me-2"></i>Các bộ phận</a>
                            <div class="dropdown-divider bg-white"></div>
                            <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-circle-plus me-2"></i>Thêm mới</a>
                            <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-user-plus me-2"></i>Mời nhân sự</a>
                        </div>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link-custom nav-link text-light" href="/calendar-route"><i class="me-2 fa-solid fa-calendar"></i>Lịch làm việc</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>